# Build objects
build/
flibitBuild/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
VVVVVV.exe
VVVVVV
*.a
*.gch
src/Version.h.out
src/InterimVersion.out.c

# Game data
data.zip

# macOS files
.DS_Store
